In [42]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [43]:
df = pd.read_csv("/Users/sa2/Desktop/TKH/House-Prices-Phase-2/train.csv")

In [44]:
# keep only specific features decided on eda
df = df[['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', 'GrLivArea', 'FullBath', 'GarageCars', 'SalePrice', 'ExterQual', 'BsmtQual', 'KitchenQual']]

In [45]:
print(df.isnull().sum())
print(df.isna().sum())

OverallQual      0
YearBuilt        0
YearRemodAdd     0
TotalBsmtSF      0
GrLivArea        0
FullBath         0
GarageCars       0
SalePrice        0
ExterQual        0
BsmtQual        37
KitchenQual      0
dtype: int64
OverallQual      0
YearBuilt        0
YearRemodAdd     0
TotalBsmtSF      0
GrLivArea        0
FullBath         0
GarageCars       0
SalePrice        0
ExterQual        0
BsmtQual        37
KitchenQual      0
dtype: int64

In [46]:
# fill missing BsmtQual values with 'NA' to represent no Basement
df['BsmtQual'] = df['BsmtQual'].fillna('NA')

In [47]:
# One-hot encode the selected categorical columns
df = pd.get_dummies(df, columns=['ExterQual', 'BsmtQual', 'KitchenQual'], dtype=int, drop_first=True)
df

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,GrLivArea,FullBath,GarageCars,SalePrice,ExterQual_Fa,ExterQual_Gd,ExterQual_TA,BsmtQual_Fa,BsmtQual_Gd,BsmtQual_NA,BsmtQual_TA,KitchenQual_Fa,KitchenQual_Gd,KitchenQual_TA
0,7,2003,2003,856,1710,2,2,208500,0,1,0,0,1,0,0,0,1,0
1,6,1976,1976,1262,1262,2,2,181500,0,0,1,0,1,0,0,0,0,1
2,7,2001,2002,920,1786,2,2,223500,0,1,0,0,1,0,0,0,1,0
3,7,1915,1970,756,1717,1,3,140000,0,0,1,0,0,0,1,0,1,0
4,8,2000,2000,1145,2198,2,3,250000,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,953,1647,2,2,175000,0,0,1,0,1,0,0,0,0,1
1456,6,1978,1988,1542,2073,2,2,210000,0,0,1,0,1,0,0,0,0,1
1457,7,1941,2006,1152,2340,2,1,266500,0,0,0,0,0,0,1,0,1,0
1458,5,1950,1996,1078,1078,1,1,142125,0,0,1,0,0,0,1,0,1,0
1459,5,1965,1965,1256,1256,1,1,147500,0,1,0,0,0,0,1,0,0,1

In [48]:
scaler = StandardScaler()
numeric_cols = df.select_dtypes(include='number').columns.drop('SalePrice', errors='ignore')
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [49]:
df.to_csv("cleanedhousing.csv", index=False)